.formContainer {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.formSection {
  margin-top: 35px;
}

.formInput {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.formTextArea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.formButton {
  padding: 10px 20px;
  background-color: #00c053;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formButton:hover {
  background-color: #ff0000;
}
.formDropdown {
  background-color:
}