.homeContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #eafaf2;
	color: black;
	/* padding-top: 100px; */
	font-family: "Poppins", sans-serif;
}

.headerSection {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 40px;
	height: auto;
}

.logoContainer {
	display: hidden;
}

.headerContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 100px;
}

.headerText {
	font-weight: 200;
	font-size: 40px;
	line-height: 36px;
	margin-bottom: 12px;
	.headerChange {
		font-size: 52px;
		line-height: 66px;
		font-weight: 600;
	}
}

.subHeaderText {
	font-weight: 200;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 24px;
}

.buttonContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.homePageButton {
	padding: 16px 32px;
	border-radius: 6px;
	background-color: #008544;
	color: #fff;
	margin-bottom: 12px;
	p {
		font-size: 20px;
		font-weight: 700;
	}
}

.heroImage {
	display: none;
}

.globalNav {
	display: flex;
	width: 100%;
	background-color: #fefaf8;

	color: #000;
	position: fixed;
	font-size: 20px;
	font-family: "Poppins", sans-serif;
	border-bottom: 1px solid black;
	overflow-x: scroll;
}
.iconNav {
	display: flex;

	li {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-basis: 75px;
		min-width: 65px;
		max-height: 75px;
		text-align: center;
		button {
			max-height: 45px;
			img {
				max-height: 45px;
				width: 100%;
			}
		}
	}
}

.siteNav {
	display: flex;

	li {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-basis: 155px;
		min-width: 155px;
		max-height: 75px;
		text-align: center;
		a {
			max-height: 75px;
			img {
				max-height: 55px;
				width: 100%;
			}
		}
	}
}

.home {
	a {
		height: 55px;
		width: 55px;
		border-radius: 50%;
		margin: 1%;
		background-color: #48f098;
	}
}

.linkText {
	margin: 20px 0;
}
@media (min-width: 800px) {
	.headerSection {
		flex-direction: row;
	}

	.logoContainer {
		width: 33.3%;
		height: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url("/Logo.svg");
		background-size: cover;
		background-position: center;
	}
	.headerContainer {
		width: 66.6%;
	}
	.headerText {
		font-size: 40px;
		line-height: 38px;
		margin-bottom: 18px;
	}
	.subHeaderText {
		font-size: 26px;
		line-height: 32px;
		font-weight: 200;
	}
	.buttonContainer {
		flex-direction: row;
		justify-content: space-between;
	}
	.heroImage {
		width: 100%;
		background-image: url("/heroImage.jpg");
		height: 384px;
		background-position: center;
		background-size: cover;
		display: flex;
		margin-right: 16px;
	}
}
